label.account_code {
    font-size: 18px;
    font-weight: bold;
    font-family: monospace;
}

label.account_issuer {
    font-size: 10px;
}

label.account_name {
    font-size: 14px;
    font-weight: bold;
}